
.DS_Store
SolarSystem/emoncms.conf
venv/
SolarSystem/rasp_install.txt
SolarSystem/deploy_123.sh
SolarSystem/deploy_ve.sh
SolarSystem/backup_system.sh
*.conf
RaspiBackup/backup_system.sh
*.pyc
.vscode/settings.json
.vscode/settings.json
