[Unit]
Description=123 SmartBMS Monitor
After=syslog.target

[Service]
Type=simple
#User=pi
#Group=pio
WorkingDirectory=/opt/solar
ExecStart=/usr/bin/python3 /opt/solar/123ok.py
SyslogIdentifier=123SmartBMS
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

